@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Kumbh Sans", sans-serif;
  }
  body {
    background: "bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-zinc-700 via-zinc-900 to-black";
  }
  html,
  body,
  #__next {
    height: 100%;
  }
}

.theme-pak {
  --color-title: theme("colors.white");
  --color-text: #bebebe;
  --color-nav_bg: theme("colors.black");
  --color-light: theme("colors.zinc.700");
  --color-neutral: theme("colors.zinc.800");
  --color-dark: #1a1a1a;
  --color-shadow: #f7ba2b;
  --color-hover: theme("colors.zinc.400");
  --color-accent: theme("colors.zinc.300");
  --color-destructive: #ff5555;
}

.theme-mar {
  --color-title: theme("colors.white");
  --color-text: theme("colors.rose.400");
  --color-nav_bg: theme("colors.rose.300");
  --color-light: theme("colors.rose.300");
  --color-neutral: theme("colors.rose.300");
  --color-dark: theme("colors.rose.200");
  --color-shadow: #aae3ea;
  --color-hover: theme("colors.rose.500");
  --color-accent: theme("colors.rose.400");
  --color-destructive: #ff5555;
}

.tiptap.ProseMirror {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-text);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
