@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Kumbh Sans", sans-serif;
  }
  body {
    background: black;
  }
}

.theme-pak {
  --color-title: theme("colors.white");
  --color-text: #bebebe;
  --color-nav_bg: theme("colors.black");
  --color-light: theme("colors.zinc.700");
  --color-neutral: theme("colors.zinc.800");
  --color-dark: #1a1a1a;
}

.theme-mar {
  --color-title: theme("colors.white");
  --color-text: theme("colors.rose.500");
  --color-nav_bg: theme("colors.rose.300");
  --color-light: theme("colors.rose.300");
  --color-neutral: theme("colors.rose.300");
  --color-dark: theme("colors.rose.200");
}
